.block{
    float: left;
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

.container p{
    font-size: 20px;
    width: 640px;
    text-align: center;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 40px;
}

.btn{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 25px;
}

.btn a{
    margin-top: 15px;
    padding: 6px 12px;
    text-decoration: none;
    border-radius:5px ;
    color: aliceblue;
}

.btn-blue{
    background-color: blue;
}

.btn-gray{
    background-color: grey;
}
.b-header{
    background-color: grey;
    margin-top: 50px;
}

img{
    max-width: calc(100%-42px);
}

.gird-container{
    float: left;
    width: 100%;
}

.card{
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
}



.card-body p{
    text-align: center;
    float: left;

}