*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

h1{
    color: red;
}

p{
    color: blue;
    font-size: 25px;
    text-align: left;

}

table{
    text-align: center;
}

.nav{
    display: flex;
    background-color: black;
    justify-content: center;
    height: 50px;
}

.list-nav{
    margin: auto 16px;
}

.li-nav{
    list-style: none;
    margin: 0 30px;
    display: inline-block;
}

.list-nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}